@model IEnumerable<mass_pnr_lookup.Models.Batch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<style type="text/css">
    #dropZone {
        background: gray;
        border: black dashed 3px;
        width: 200px;
        padding: 50px;
        text-align: center;
        color: white;
    }
</style>


<p>
    @Html.ActionLink("Create New", "Create")

    <h2>File Drag & Drop Upload</h2>
    <div id="dropZone">Drop your files here</div>
    <br>
    Uploaded Files:
    <ul id="uploadResult"></ul>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletedTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmittedTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletedTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BatchId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BatchId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BatchId })
        </td>
    </tr>
}

</table>


@section scripts{
    
<script type="text/javascript">
    $(function () {
        $('#dropZone').filedrop({
            url: '@Url.Action("UploadFiles")',
            paramname: 'files',
            maxFiles: 5,
            maxfilesize: 10, // 10 MB
            dragOver: function () {
                $('#dropZone').css('background', 'blue');
            },
            dragLeave: function () {
                $('#dropZone').css('background', 'gray');
            },
            drop: function () {
                $('#dropZone').css('background', 'gray');
            },
            afterAll: function () {
                $('#dropZone').html('The file(s) have been uploaded successfully!');
            },
            uploadFinished: function (i, file, response, time) {
                $('#uploadResult').append('<li>' + file.name + '</li>');
            }
        });
    });
</script>
}