@using PagedList

@model PagedList<mass_pnr_lookup.Models.BatchLine>


<div class="row">
    <div class="col-md-1">
        Row
    </div>
    <div class="col-md-2">
        Address
    </div>
    <div class="col-md-2">
        Name
    </div>
    <div class="col-md-1">
        PNR
    </div>
    <div class="col-md-2">
        Error
    </div>
    <div class="col-md-2">
        Matched Name
    </div>
    <div class="col-md-2">
        Matched Address
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => item.Row)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.Address)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => item.PNR)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.Error)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.MatchedName)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.MatchedAddress)
        </div>
    </div>
}