@using PagedList

@model PagedList<mass_pnr_lookup.Models.Batch>

@PagedList.Mvc.HtmlHelper.PagedListPager(
    Html,
    Model,
    pageNum => Url.Action("List", new { pageNumber = pageNum }),
    PagedList.Mvc.PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            UpdateTargetId = "fileList",
            InsertionMode = InsertionMode.Replace
        }))

<table class="table">
    <tr>
        <th>
            User
        </th>
        <th>
            Status
        </th>
        <th>
            SubmittedTS
        </th>
        <th>
            CompletedTS
        </th>
        <th>
            FileName
        </th>
        <th>
            Bytes
        </th>
        <th>
            Succeeded
        </th>
        <th>
            Failed
        </th>
        <th>
            Result
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedTS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedTS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SucceededLines)/@Html.DisplayFor(modelItem => item.NumLines)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FailedLines)/@Html.DisplayFor(modelItem => item.NumLines)
            </td>
            <td>
                @if (item.Status == mass_pnr_lookup.Models.BatchStatus.Completed || item.Status == mass_pnr_lookup.Models.BatchStatus.Notified)
                {
                    @Html.ActionLink("Download", "Result", new { id = item.BatchId })
                    <br />
                    <a href="#" name="retryBatchLink" href2="@Url.Action("Retry",new { id = item.BatchId })">(Retry)</a>
                }
            </td>
            <td>
                <a href="#" name="linesLink" href2="@Url.Action("ListLines", new {id= item.BatchId })">Lines</a>
            </td>
        </tr>
    }
</table>