@model IEnumerable<mass_pnr_lookup.Models.Batch>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletedTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            Bytes
        </th>
        <th>
            Lines
        </th>
        <th>
            Succeeded
        </th>
        <th>
            Failed
        </th>
        <th>
            Result
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedTS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedTS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumLines)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SucceededLines)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FailedLines)
            </td>
            <td>
                @if (item.Status == mass_pnr_lookup.Models.BatchStatus.Completed)
                {
                    @Html.ActionLink("Download", "Result", new { id = item.BatchId })
                }
                @if (item.Status == mass_pnr_lookup.Models.BatchStatus.Completed || item.Status == mass_pnr_lookup.Models.BatchStatus.Notified)
                {
                    <a href="#" name="retryBatchLink" href2="@Url.Action("Retry",new { id = item.BatchId })">(Retry)</a>
                }
            </td>
        </tr>
    }
</table>

@section scripts{
    <script type="text/javascript">
        $(function () {

            $('a[name="retryBatchLink"]').unbind('click');

            $('a[name="retryBatchLink"]').click(function () {
                var url = $(this).attr('href2');
                alert(url);
                $.ajax(url)
                    .success(function (data) {
                        //alert(data);
                    })
                .fail(function (data) {
                    alert(data)
                });
            });
        });
    </script>
}