@using PagedList

@model PagedList<mass_pnr_lookup.Models.Batch>

@PagedList.Mvc.HtmlHelper.PagedListPager(
    Html,
    Model,
    pageNum => Url.Action("List", new { pageNumber = pageNum }),
    PagedList.Mvc.PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            UpdateTargetId = "fileList",
            InsertionMode = InsertionMode.Replace
        }))

<table class="table">
    <tr>
        <th>
            User
        </th>
        <th colspan="2">
            Status
        </th>
        <th>
            SubmittedTS
        </th>
        <th>
            CompletedTS
        </th>
        <th>
            FileName
        </th>
        <th>
            Bytes
        </th>
        <th>
            Succeeded
        </th>
        <th>
            Failed
        </th>
        <th>
            Result
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @if (item.Status == mass_pnr_lookup.Models.BatchStatus.Processing)
            {
                <button type="button" class="btn" aria-label="Left Align" name="pause" id="@item.BatchId">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                </button>
            }
            @if (item.Status == mass_pnr_lookup.Models.BatchStatus.Paused)
            {
                <button type="button" class="btn" aria-label="Left Align" name="resume" id="@item.BatchId">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmittedTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletedTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SucceededLines)/@Html.DisplayFor(modelItem => item.NumLines)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FailedLines)/@Html.DisplayFor(modelItem => item.NumLines)
        </td>
        <td>
            @if (item.Status == mass_pnr_lookup.Models.BatchStatus.Completed || item.Status == mass_pnr_lookup.Models.BatchStatus.Notified)
            {
                @Html.ActionLink("Download", "Result", new { id = item.BatchId })
                <br />
                <a href="#" name="retryBatchLink" href2="@Url.Action("Retry",new { id = item.BatchId })">(Retry)</a>
            }
        </td>
        <td>
            <a href="#" name="linesLink" href2="@Url.Action("ListLines", new {id=item.BatchId })">Lines</a>
        </td>
        <td>
            <a href="#" name="linesLink" href2="@Url.Action("Remove", new {id= item.BatchId })">Delete Batch</a>
        </td>
    </tr>
    }
</table>

<script type="text/javascript">
    $(function () {

        $('a[name="retryBatchLink"]').unbind('click');

        $('a[name="retryBatchLink"]').click(function () {
            var url = $(this).attr('href2');
            $.ajax(url)
                .success(function (data) {
                    refreshFiles();
                })
            .fail(function (data) {
                alert(data)
            });
        });

        $('a[name="linesLink"]').unbind('click');

        $('a[name="linesLink"]').click(function () {
            $('#batchLines .modal-body').html('');
            var url = $(this).attr('href2');
            $.ajax(url)
                .success(function (data) {
                    $('#batchLines .modal-body').html(data);
                    $('#batchLines').modal();
                })
                .fail(function (data) {
                    alert(data);
                });
        });

        $('[name="resume"]').unbind('click');
        $('[name="resume"]').click(function () {
            var url = '@Url.Action("Resume", new { id="dummy_id"})'.replace('dummy_id', $(this).attr('id'));
            $.ajax(url)
                .success(function () {
                    //alert('ok');
                    refreshFiles();
                })
                .fail(function (data) {
                    alert(data);
                });
        });

        $('[name="pause"]').unbind('click');
        $('[name="pause"]').click(function () {
            var url = '@Url.Action("Pause", new { id="dummy_id"})'.replace('dummy_id', $(this).attr('id'));
            $.ajax(url)
                .success(function () {
                    //alert('ok');
                    refreshFiles();
                })
                .fail(function (data) {
                    alert(data);
                });
        });

    });
</script>