<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/filedrop")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Search", "Index", "Files", new { }, new { @class = "navbar-brand" })
                @if (Commons.CanAccessPath(Url.Action("Index", "AdminFiles")))
                {
                    @Html.ActionLink("Admin", "Index", "AdminFiles", new { }, new { @class = "navbar-brand" })
                }
                @Html.ActionLink("About", "About", "Home", new { }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>

    <script type="text/javascript">

        var periodicRefreshFiles = function () {
            refreshFiles();
            setTimeout(periodicRefreshFiles, 5000);
        };

        var refreshFiles = function () {
            var activePageAnchor = $('#fileList [class="pagination"] [class="active"] a');
            url = listUrl().replace('&amp;', '&').replace('sdf', activePageAnchor[0].innerText);

            $.ajax(url)
                    .success(function (data) {
                        $('#fileList').html(data)
                    })
        };

        setTimeout(periodicRefreshFiles, 5000);
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
